<div>
  <header>
    <nav>
      <ul id="primary-navigation" class="primary-navigation flex">
        <li class="brand" routerLink="/landing-page">
          <a>
            <span aria-hidden="true">00</span><b>GithubSearch</b>
          </a>
        </li>
        <li routerLink="/landing-page">
          <a>
            <span aria-hidden="true">01</span>Home
          </a>
        </li>
        <li routerLink="/search-form">
          <a>
            <span aria-hidden="true">02</span>Search
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
