h1 {
  font-size: 5rem;
}

.landing-content {
  color: rgba(236, 240, 241, 0.8)
}

p, li {
  font-size: 2rem;
}

h1, p {
  text-align: center;
}

img {
  border-radius: 50%;
  padding: 0;
  margin: 0;
  height: 20rem;
  width: 20rem;
}

h2 {
   font-size: 4rem;
   font-weight: bold;
   color: white;
}

h4 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

ul {
  list-style: none;
}

a:hover {
  color: white;
}

a:active{
  color: purple;
}

a {
  text-decoration: none;
}

li {
  display: inline;
  margin: 1rem;
}
