<div class="landing-page">
  <h1 class="landing-content">Welcome to GitHub Search!</h1>
  <p class="landing-content">This is an web application that allows you, the user to search for any GitHub username or repository you would like.</p>
  <br>
</div>
<div class="blurred-box">
  <h2>Timothy</h2>
  <img src="https://i.postimg.cc/C57M5n21/default-github-avatar.png" alt="GitHub profile picture" />
  <h4>GitHub Username:</h4>
  <p><a href="https://github.com/TimKirathe">TimKirathe</a></p>
  <h4>My Repositories:</h4>
  <ul>
    <li><a href="https://github.com/TimKirathe/quote-creator-angular" target="_blank">QuoteCreator</a></li>
    <li><a href="https://github.com/TimKirathe/pizza-website" target="_blank">Pizza Website</a></li>
    <li><a href="https://github.com/TimKirathe/Delani-Studio" target="_blank">Delani Studio</a></li>
    <li><a href="https://github.com/TimKirathe/Akan-Name-Web-Application" target="_blank">Akan Names</a></li>
  </ul>
  <p><a href="https://github.com/TimKirathe?tab=repositories" target="_blank">See more...</a></p>
</div>
