@import "~bootstrap/dist/css/bootstrap.css";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  font-family: 'Quantico', sans-serif;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 background-image:url(http://bit.ly/2gPLxZ4);
 width: 100%;
 height: 100%;
 letter-spacing: 0.02em;
  font-weight: 400;
 -webkit-font-smoothing: antialiased;
}

.blurred-box {
  position: relative;
  display: grid;
  place-items: center;
  margin: auto;
  width: 60%;
  height: 60%;
  /*top: calc(50% - 175px);
  left: calc(50% - 125px);*/
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

/*.blurred-box::after {
  content: '';
  height: 100%;
  width: 100%;
  background: inherit;
  filter: blur(10rem);
  position: absolute;
  box-shadow: 0 0 0 200px rgba(255,255,255,0.3);
}*/
